$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-bg-color: #ffffff;
$hero-footer-color: #2f303a;
$secondary-bg-color: #f5f4fa;

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
}

@font-face {
  font-family: 'Raleway', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
}
